In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/telco_churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")
df["TotalCharges"].isna().sum()

np.int64(11)

In [4]:
df["TotalCharges"] = df["TotalCharges"].fillna(df["TotalCharges"].median())

In [5]:
df["Churn"] = df["Churn"].map({"Yes": 1, "No": 0})
df = df.drop(columns=["customerID"])

In [6]:
df["Churn"].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [8]:
df["tenure_group"] = pd.cut(
    df["tenure"],
    bins=[-1, 12, 24, 48, 60, 72],
    labels=["0-1yr", "1-2yr", "2-4yr", "4-5yr", "5-6yr"]
)

In [9]:
df["charges_ratio"] = df["TotalCharges"] / (df["tenure"] + 1)

In [10]:
df["is_month_to_month"] = (df["Contract"] == "Month-to-month").astype(int)

In [11]:
df["is_auto_pay"] = df["PaymentMethod"].str.contains("automatic", case=False).astype(int)

In [12]:
X = df.drop(columns=["Churn"])
y = df["Churn"]

X.shape, y.shape

((7043, 23), (7043,))

In [13]:
df.to_csv("../data/processed/telco_churn_processed.csv", index=False)

In [15]:
df[["tenure","tenure_group","charges_ratio","is_month_to_month","is_auto_pay","Churn"]].head()

   tenure tenure_group  charges_ratio  is_month_to_month  is_auto_pay  Churn
0       1        0-1yr      14.925000                  1            0      0
1      34        2-4yr      53.985714                  0            0      0
2       2        0-1yr      36.050000                  1            0      1
3      45        2-4yr      40.016304                  0            1      0
4       2        0-1yr      50.550000                  1            0      1